

body {
background: url(12_col.gif) center top repeat-y;
background-size: 90%;
}

#container{
display:grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr 1fr 1fr 1fr; 
grid-gap:20px;
font-size:20px;
width: 90%;
height:1000px;
margin: 0 auto;
}

header{
border:solid black 3px;
grid-column: 1 / 13;
}

#box1{
border:solid black 3px;
grid-column: 1 / 3;
}

#box2{
border:solid black 3px;
grid-column: 3 / 11;
}

#box3{
border: solid black 3px;
grid-column: 11 / 13;
}

#content{
border: solid black 3px;
grid-column: 1 / 10;
}

#sidebar{
border: solid black 3px;
grid-column: 10 / 13;
}

#footer{
display: grid;
grid-template-columns: repeat(12, 8fr);
grid-template-rows: 4fr;
grid-gap:20px;
border: black solid 3px;
padding:10px;
grid-column: 1/13;
}

#footer #footer-section1{
border: solid black 3px;
grid-column: 1/4; 
}

#footer #footer-section2{
border: solid black 3px; 
grid-column:4/7
}

#footer #footer-section3{
border: solid black 3px; 
grid-column:7/10

}

#footer #footer-section4{
border: solid black 3px; 
grid-column:10/13
}
/*smallerscreens media */
@media only screen and (max-width:1200px)  {

#box1{
border:solid black 3px;
grid-column: 1 / 4;
}
        
#box2{
border:solid black 3px;
grid-column: 4 / 10;
}
        
#box3{
border: solid black 3px;
grid-column: 10 / 13;
}

#content{
border: solid black 3px;
grid-column: 1 / 9;
}
    
#sidebar{
border: solid black 3px;
grid-column: 9 / 13;
}



/*smaller screens tablet media */
@media only screen and (max-width:960px) {

#container{
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr 1fr 1fr 1fr; 

}

#box1{
border:solid black 3px;
grid-column: 1 / 5;
}
        
#box2{
border:solid black 3px;
grid-column: 5 / 9;
}
        
#box3{
border: solid black 3px;
grid-column: 9 / 13;
}
        
#content{
border: solid black 3px;
grid-column: 1 / 7;
}
        
#sidebar{
border: solid black 3px;
grid-column: 7 / 13;
}

#footer{
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr 1fr;
border: black solid 3px;
padding:10px;
grid-gap:20px;
grid-column: 1/13;
height: 350px;
}

#footer #footer-section1{
border: solid black 3px;
grid-column: 1/7; 
}
    
#footer #footer-section2{
border: solid black 3px; 
grid-column:7/13
}
    
#footer #footer-section3{
border: solid black 3px; 
grid-column:1/7
}
    
#footer #footer-section4{
border: solid black 3px; 
grid-column:7/13
}

}

/*moblie screen media */

@media only screen and (max-width:768px) {

#container{
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(6, 200px); 
}

#box1{
border:solid black 3px;
grid-column: 1 / 13;
}
            
#box2{
border:solid black 3px;
grid-column: 1 / 13;
}
            
#box3{
border: solid black 3px;
grid-column: 1 / 13;
}
            
#content{
border: solid black 3px;
grid-column: 1 / 13;
}
            
#sidebar{
border: solid black 3px;
grid-column: 1 / 13;
}

#footer{
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(4, 200px);
border: black solid 3px;
padding:10px;
grid-gap:20px;
grid-column: 1/13;
height:863px;
}

#footer #footer-section1{
border: solid black 3px;
grid-column: 1/13; 
}
        
#footer #footer-section2{
border: solid black 3px; 
grid-column:1/13
}
        
#footer #footer-section3{
border: solid black 3px; 
grid-column:1/13
}
        
#footer #footer-section4{
border: solid black 3px; 
grid-column:1/13
}
} 